.layout__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  :global {
    .layout__footer-main {
      width: 1400px;
      max-width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 15px 0;
      padding: 15px 0;
      overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .border__item {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }

      .layout__footer-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
      }

      .directional {
        .directional__title {
          margin-bottom: 30px;

          h3 {
            font-size: 1.25rem;
            text-transform: uppercase;
          }
        }

        .directional__list {
          width: 100%;

          ul {
            margin: 1.5em 0 1.5em 3em;

            li {
              border-bottom: 1px solid #cfcccc;

              a {
                font-size: 1rem;
                color: #777;
                padding: 6px 0;
                display: block;
              }
            }
          }
        }
      }

      .advertisement {
        .util__logo {
          text-align: center;
          margin: 0 30px;
          width: 200px;

          img {
            max-width: 100%;
            max-height: 100px;
            height: auto;
          }
        }

        .advertisement__content {
          p {
            margin-top: 20px;
            font-size: 1rem;
          }
        }
      }

      .aboutMe {
        .aboutMe__title {
          margin-bottom: 30px;
          h3 {
            font-size: 1.25rem;
            text-transform: uppercase;
          }
        }

        .aboutMe__content {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          .aboutMe__content-field {
            text-align: center;
            margin-bottom: 1rem;
            padding: 0 10px;
            max-width: 100%;

            p {
              font-size: 1rem;
              color: #777;
              padding: 6px 0;
              display: block;
              word-wrap: break-word;

              span {
                color: #d09f11 !important;
              }
            }
          }
        }
      }
    }

    .layout__footer-introduce {
      margin: 15px 0;
    }

    @media screen and (max-width: 768px) {
      .border__item {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: none !important;
        border-right: none !important;
      }
    }
  }
}
