.layout__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  :global {
    .layout__footer-main {
      width: 1400px;
      max-width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 15px 0;
      padding: 15px 0;
      overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .border__item {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }

      .layout__footer-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
      }

      .directional {
        .directional__title {
          margin-bottom: 30px;

          h3 {
            font-size: 1.25rem;
            text-transform: uppercase;
          }

          span {
            font-size: 1.25rem;
            text-transform: uppercase;
            font-weight: 500;
          }
        }

        .directional__list {
          width: 100%;

          ul {
            margin: 1.5em 0 1.5em 3em;

            li {
              border-bottom: 1px solid #cfcccc;

              a {
                font-size: 1rem;
                color: #777;
                padding: 6px 0;
                display: block;
              }
            }
          }
        }
      }

      .advertisement {
        .util__logo {
          text-align: center;
          margin: 0 30px;
          width: 200px;

          img {
            max-width: 100%;
            max-height: 100px;
            height: auto;
          }
        }

        .advertisement__content {
          p {
            margin-top: 20px;
            font-size: 1rem;
          }

          h1 {
            margin-top: 20px;
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }

      .aboutMe {
        .aboutMe__title {
          margin-bottom: 30px;
          h3 {
            font-size: 1.25rem;
            text-transform: uppercase;
          }

          span {
            font-size: 1.25rem;
            text-transform: uppercase;
            font-weight: 500;
          }
        }

        .aboutMe__content {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          .aboutMe__content-field {
            text-align: center;
            margin-bottom: 1rem;
            padding: 0 10px;
            max-width: 100%;

            p {
              font-size: 1rem;
              color: #777;
              padding: 6px 0;
              display: block;
              word-wrap: break-word;

              span {
                color: #d09f11 !important;
              }
            }
          }
        }
      }
    }

    .media__component {
      position: fixed;
      bottom: 10px;
      right: 10px;

      .zalo-wrapper {
        box-shadow: 0 0 0 0 #2196f3;
        background-color: rgba(33, 150, 243, 0.7) !important;
      }

      .phone-wrapper {
        opacity: 0.7;
        box-shadow: 0 0 0 0 #dd3333;
        background-color: #dd3333 !important;
      }

      .icon-wrapper :local {
        animation: 0.8s DevZoom infinite ease-in-out;
      }

      .icon-wrapper {
        margin-bottom: 20px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #f0f0f0;
        cursor: pointer;

        .box-icon {
          background-color: #e60808;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          &.zalo-icon {
            background-color: #2196f3;
          }

          img {
            max-width: 27px;
            max-height: 25px;
          }
        }

        .box-icon :local {
          animation: 0.8s shakeAnimation infinite ease-in-out;
        }
      }
    }

    .layout__footer-introduce {
      margin: 15px 0;
    }

    @media screen and (max-width: 768px) {
      .border__item {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: none !important;
        border-right: none !important;
      }
    }
  }

  @keyframes DevZoom {
    70% {
        box-shadow: 0 0 0 15px transparent
    }
    100% {
        box-shadow: 0 0 0 0 transparent
    }
}

  @keyframes shakeAnimation {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
}
