.login__page {
  width: 100%;
  padding: 100px 0;

  :global {
    .login__page-wrapper {
      .container {
        width: 900px;
        background: #fff;
        margin: 0 auto;
        border-radius: 20px;

        .singUp__content {
          padding: 75px 0;
          display: flex;
          display: -webkit-flex;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          border-radius: 20px;

          .remove__border {
            .ant-form-item-control-input-content {
              .ant-input-affix-wrapper {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: #999;
                border-width: 1px;
                padding: 0;

                &.ant-input-affix-wrapper {
                  box-shadow: none;
                }

                &:focus {
                  box-shadow: none !important;
                  border-color: black;
                }

                &::placeholder {
                  color: black;
                }
              }

              input {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: #999;
                border-width: 1px;
                padding: 6px 15px;

                &:focus {
                  box-shadow: none;
                  border-color: black;

                  &::placeholder {
                    color: black;
                  }
                }
              }
            }
          }

          .btn__submit {
            margin-top: 40px;

            .ant-form-item-control {
              margin: 0;
            }

            button {
              width: 100%;
              display: inline-block;
              background: #6dabe4;
              color: #fff;
              border-bottom: none;
              padding: 15px 39px;
              border-radius: 5px;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -o-border-radius: 5px;
              -ms-border-radius: 5px;
              align-items: center;
              cursor: pointer;
              justify-content: center;
              display: flex;
              height: 40px;

              &:hover {
                background: #4292dc;
              }
            }
          }

          .singUp__content-form {
            overflow: hidden;
            width: 50%;
            margin-left: 75px;
            margin-right: 75px;
            padding-left: 34px;

            .form__title {
              margin-bottom: 33px;
              font-family: Poppins_bold;
              font-weight: 900;
            }
          }

          .singUp__content-image {
            overflow: hidden;
            width: 50%;
            margin: 0 55px;
            margin-top: 45px;

            figure {
              margin-bottom: 50px;
              text-align: center;
            }

            img {
              max-width: 100%;
            }

            a {
              font-size: 14px;
              color: #222;
              display: block;
              text-align: center;
              cursor: pointer;
            }
          }
        }

        .singIn__content {
          padding-top: 67px;
          display: flex;
          display: -webkit-flex;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          border-radius: 20px;

          .remove__border {
            .ant-form-item-control-input-content {
              .ant-input-affix-wrapper {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: #999;
                border-width: 1px;
                padding: 0;

                &.ant-input-affix-wrapper {
                  box-shadow: none;
                }

                &:focus {
                  box-shadow: none !important;
                  border-color: black;
                }

                &::placeholder {
                  color: black;
                }
              }

              input {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: #999;
                border-width: 1px;
                padding: 6px 15px;

                &:focus {
                  box-shadow: none;
                  border-color: black;

                  &::placeholder {
                    color: black;
                  }
                }
              }
            }
          }

          .btn__submit {
            margin-top: 40px;

            .ant-form-item-control {
              margin: 0;
            }

            button {
              width: 100%;
              display: inline-block;
              background: #6dabe4;
              color: #fff;
              border-bottom: none;
              padding: 15px 39px;
              border-radius: 5px;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -o-border-radius: 5px;
              -ms-border-radius: 5px;
              align-items: center;
              cursor: pointer;
              justify-content: center;
              display: flex;
              height: 40px;

              &:hover {
                background: #4292dc;
              }
            }
          }

          .singIn__content-form {
            overflow: hidden;
            width: 50%;
            margin-right: 90px;
            margin-left: 80px;

            .form__title {
              margin-bottom: 33px;
              font-family: Poppins_bold;
              font-weight: 900;
            }
          }

          .singIn__content-image {
            overflow: hidden;
            width: 50%;
            margin-left: 110px;
            margin-right: 20px;
            margin-top: 10px;

            img {
              max-width: 100%;
            }

            figure {
              margin-bottom: 50px;
              text-align: center;
            }

            a {
              font-size: 14px;
              color: #222;
              display: block;
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
    }

    @media screen and (min-width: 1024px) {
      .container {
        max-width: 1200px;
      }
    }

    @media screen and (max-width: 1200px) {
      .container {
        width: calc(100% - 30px) !important;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      .singUp__content,
      .singIn__content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;

        .singUp__content-form {
          width: auto !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding-left: 0 !important;
          padding: 0 30px !important;
        }

        .singUp__content-image {
          width: auto !important;
        }

        .singIn__content-form {
          width: auto !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding-left: 0 !important;
          padding: 0 30px !important;
        }

        .singIn__content-image {
          width: auto !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          margin-top: 50px !important;
          order: 2;
          -moz-order: 2;
          -webkit-order: 2;
          -o-order: 2;
          -ms-order: 2;
        }
      }
    }
  }
}
